.header {
    background-color: #faf4f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #350c2b;
    box-shadow: 0 15px 15px #5a2b4e;
}